src/flows/Change_Case_Owner_to_Incident_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the incident owner an email to notify them of new incident-related cases assigned to them.</description>
        <name>SendNewCaseOwnerEmail</name>
        <label>Send New Case Owner Email</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ChangeCaseOwnerResultsScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowEmailError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetIncidentOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Add linked case numbers to the new case owner email.</description>
        <name>AddCaseURLsToEmail</name>
        <label>Add Case URLs to Email</label>
        <locationX>270</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>Temp_Case_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateCasesForEmail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Case_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateCasesForEmail.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Body_Links</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Number_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateCasesForEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the known cases to the record collection.</description>
        <name>AssignKnownCasesToCollection</name>
        <label>Assign Known Cases to Collection</label>
        <locationX>314</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>Known_Case_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateCaseRelatedIssues.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateCaseRelatedIssues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Check to see if the user changing the case ownership can send the incident owner an email.</description>
        <name>CheckEmailAccess</name>
        <label>Check Email Access</label>
        <locationX>1766</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>Can_Send_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetIncidentRelatedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the case owner ID based on the incident owner ID and add the case to CaseListToUpdate.</description>
        <name>SetCaseOwnerAndAddCaseToList</name>
        <label>Set Case Owner And Add Case to List</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>IterateOverRetrievedCases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetIncident.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverRetrievedCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverRetrievedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the email can’t be sent, show an error message.</description>
        <name>ShowEmailError</name>
        <label>Show Error Message</label>
        <locationX>446</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>Can_Send_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeCaseOwnerResultsScreen</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Determines in which order the cases are listed in the new case owner email.</description>
        <name>SortCasesByCaseNumber</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Cases By Case Number</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseListToUpdate</collectionReference>
        <connector>
            <targetReference>IterateCasesForEmail</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CaseNumber</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Determines whether an incident exists.</description>
        <name>DoesIncidentExist</name>
        <label>Incident Exists?</label>
        <locationX>1815</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ShowIncidentAccessFlowError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IncidentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIncident</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsIncidentOwnedbyUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether an incident-related case exists.</description>
        <name>DoesRelatedCaseExist</name>
        <label>Related Case Exists?</label>
        <locationX>226</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>SetCaseOwnerAndAddCaseToList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>CaseExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverRetrievedCases.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverRetrievedCases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any cases related to an incident exist.</description>
        <name>DoRelatedCasesExist</name>
        <label>Related Cases Exist?</label>
        <locationX>644</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>ShowRelatedCaseFlowError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>RelatedCasesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIncidentRelatedCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateCaseRelatedIssues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any cases are known.</description>
        <name>IsCaseKnown</name>
        <label>Is Case Known?</label>
        <locationX>226</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>AssignKnownCasesToCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>CaseKnown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Known_Case_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>IterateCaseRelatedIssues.CaseId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateCaseRelatedIssues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the incident is owned by a user.</description>
        <name>IsIncidentOwnedbyUser</name>
        <label>Incident Owned By User?</label>
        <locationX>1337</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>ShowIncidentOwnerFlowError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IncidentOwnedByUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIncident.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIncidentOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the new case owner is sent an email.</description>
        <name>ShouldNewOwnerGetEmail</name>
        <label>Send Email?</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>SortCasesByCaseNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>DoNotSendEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Can_Send_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseListToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeCaseOwnerResultsScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>When Cases are identified as part of an Incident, change the Case owner to the Incident owner.</description>
    <environments>Default</environments>
    <formulas>
        <name>Case_Number_Link</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&lt;a href=&quot;&apos; + LEFT({!$Api.Partner_Server_URL_540},FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_540})) + {!Temp_Case_Id} + &apos;&quot; target=&quot;_blank&quot;&gt;&apos; + {!Temp_Case_Number} + &apos;&lt;/a&gt;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>Incident_Number_Link</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a href=&quot;&apos; + LEFT({!$Api.Partner_Server_URL_540},FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_540})) + {!recordId} + &apos;&quot; target=&quot;_blank&quot;&gt;&apos; + {!GetIncident.IncidentNumber} + &apos;&lt;/a&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Change Case Ownership to Incident Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Case Owner to Incident Owner</label>
    <loops>
        <description>Repeats actions in loop for each case-related issue.</description>
        <name>IterateCaseRelatedIssues</name>
        <label>Iterate Over Case Related Issues</label>
        <locationX>50</locationX>
        <locationY>938</locationY>
        <collectionReference>GetIncidentRelatedCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCaseKnown</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each incident-related case.</description>
        <name>IterateCasesForEmail</name>
        <label>Iterate Over Cases for Email</label>
        <locationX>182</locationX>
        <locationY>2354</locationY>
        <collectionReference>CaseListToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddCaseURLsToEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendNewCaseOwnerEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates over cases retrieved in the GetCases element.</description>
        <name>IterateOverRetrievedCases</name>
        <label>Iterate Over Retrieved Cases</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <collectionReference>GetCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DoesRelatedCaseExist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCaseList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets case info related to the incident.</description>
        <name>GetCases</name>
        <label>Get Cases</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverRetrievedCases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowGenericError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Known_Case_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GetIncident.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the incident record.</description>
        <name>GetIncident</name>
        <label>Get Incident Record</label>
        <locationX>1815</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesIncidentExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowIncidentAccessFlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the incident owner’s user record.</description>
        <name>GetIncidentOwner</name>
        <label>Get Incident Owner</label>
        <locationX>644</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIncidentRelatedCases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CheckEmailAccess</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIncident.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets cases related to an incident.</description>
        <name>GetIncidentRelatedCases</name>
        <label>Get Related Cases</label>
        <locationX>644</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoRelatedCasesExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowCaseAccessFlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the related case owners to the incident owner.</description>
        <name>UpdateCaseList</name>
        <label>Update Case List</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>ShouldNewOwnerGetEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowGenericError</targetReference>
        </faultConnector>
        <inputReference>CaseListToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <description>Show a screen to users to let them know whether the cases were transferred to the incident owner.</description>
        <name>ChangeCaseOwnerResultsScreen</name>
        <label>Change Case Owner to Incident Owner Results</label>
        <locationX>50</locationX>
        <locationY>3044</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Case_Update_Successful_Message</name>
            <fieldText>The related Cases are owned by the Incident owner.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Unsuccessful_Message</name>
            <fieldText>&lt;em&gt;We couldn’t email the Incident owner about the Case ownership changes. To troubleshoot the issue, &lt;a href=&quot;/HelpAndTrainingDoor?version=2&amp;resource=https://help.salesforce.com/s/articleView?id=sf.incident_mgmt_flow_considerations.htm&amp;type=5&quot; target=&quot;_blank&quot;&gt;review Customer Service Incident Management flow considerations in Salesforce Help.&lt;/a&gt;&lt;/em&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Can_Send_Email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Show a screen to users that lets them choose whether to assign incident-related cases to the incident owner.</description>
        <name>ChangeCaseOwnerScreen</name>
        <label>Change Case Owner Screen</label>
        <locationX>1815</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetIncident</targetReference>
        </connector>
        <fields>
            <name>Page_Description</name>
            <fieldText>When Cases are identified as part of an Incident, change the Case owner to the Incident owner.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_Ownership_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Change Case owner</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Select the checkbox to continue.</errorMessage>
                <formulaExpression>{!Change_Ownership_Checkbox}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the user doesn’t have access to the case, show an error message.</description>
        <name>ShowCaseAccessFlowError</name>
        <label>Show Access Error Message</label>
        <locationX>1502</locationX>
        <locationY>830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Access_To_Case_Message</name>
            <fieldText>We couldn’t change the Case owners because you don’t have access to Cases. Ask your Salesforce admin for help.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If something goes wrong while updating the related cases, show an error message.</description>
        <name>ShowGenericError</name>
        <label>Show Error Message</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unsucessful_Display_Message</name>
            <fieldText>We couldn’t change the Case owners.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unsuccessful_Display_Help_Message</name>
            <fieldText>&lt;p&gt;&lt;em&gt;To troubleshoot the issue, &lt;a href=&quot;/HelpAndTrainingDoor?version=2&amp;resource=https://help.salesforce.com/s/articleView?id=sf.incident_mgmt_flow_considerations.htm&amp;type=5&quot; target=&quot;_blank&quot;&gt;review Customer Service Incident Management flow considerations in Salesforce Help.&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the user doesn’t have access to the incident or it doesn’t exist, show an error message.</description>
        <name>ShowIncidentAccessFlowError</name>
        <label>Show Access Error Message</label>
        <locationX>2294</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Access_To_Incident_Record_Message</name>
            <fieldText>We couldn’t change the Case owners because the record you selected isn’t an Incident or you don’t have access to it. Ask your Salesforce admin for help.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the incident owner isn’t a user, show an error message.</description>
        <name>ShowIncidentOwnerFlowError</name>
        <label>Show Incident Error Message</label>
        <locationX>2030</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Incident_Owner_Must_Be_User_Message</name>
            <fieldText>Looks like you don’t have access to the Incident owner or the owner isn’t a user, so we couldn’t reassign the Cases.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the user doesn’t have access to the related cases or they don’t exist, show an error message.</description>
        <name>ShowRelatedCaseFlowError</name>
        <label>Show Access Error Message</label>
        <locationX>1238</locationX>
        <locationY>938</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Related_Cases_Message</name>
            <fieldText>Looks like there aren’t any related Cases or you don’t have access to them.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_service_incident_mgmt__CCOIO</sourceTemplate>
    <start>
        <locationX>1689</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ChangeCaseOwnerScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello, {!GetIncidentOwner.Name}&lt;/p&gt;&lt;p&gt;The following Cases, related to Incident {!Incident_Number_Link}, were assigned to you by {!$User.FirstName} {!$User.LastName}:&lt;/p&gt;&lt;p&gt;{!Email_Body_Links}&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Salesforce&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cases were transferred to you</text>
    </textTemplates>
    <variables>
        <name>Can_Send_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Email_Body_Links</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Known_Case_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of the Incident</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
